body{
	float: center;
	background-image: url(ayam1.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 250px;
	background-attachment: fixed;
}
.name{
	text-align: center;
	font-size: 50px;
	font-family: 'Sriracha', cursive;
	color: #f8b195
}
.Absen{
	text-align: center;
	font-size: 30px;
	color: #f8b195;
}
.semua{
	padding: 250px;
	text-align: center;
	color: #f8b195;
	font-family: 'Sriracha', cursive;

}
.garis{
	width: 750px;
	height: 20px;
}